@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

* {
    box-sizing: border-box;


}

.body {
    font-family: 'Source Sans Pro', sans-serif;
}


.button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    background-color: #3f51b5;
}

.background-image {
    max-width: 100%;
    height: auto;
    transform: scaleX(-1);
    min-width: 1000px;
    width: 1500px;
    height: 800px;
    vertical-align: middle;
}

.display-left {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%)
}

.rentBike-header {
    max-width: 1500px;
}

.input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.icon {
    font-size: 20px;
    color: #3f51b5;
    text-shadow: 2px 2px 4px #292846;
}

.standard-padding {
    padding: 8px 16px !important;
    width: 40%;
}

.padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important
}

.padding-row {
    padding: 0 -8px;
    margin: 0 -8px;
}

.container {
    padding: 0.01em;
    color: #fff !important;
    background-color: #3f51b5 !important
}

.container-white {
    padding: 100px;
    color: #000 !important;
    background-color: #fff !important;
}

.margin-right {
    margin-right: 16px !important
}

.dropdown {
    margin:-7px;
}




